
* {
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
} 
img { height:auto;max-width:100%;} 
.buttonOptions { position: absolute; width: 100%; }
button.close { position: relative; background:#fff; padding:8px;left:auto;right:0; display: none;}
.card:hover button.close { display: block;}
.jumbotron {
  border-radius: 0;
}
.container h1 { font-family:'Dancing Script', cursive;}
div#add-recipe-modal {
  clear: both; 
  width: 50%;
  left: 25%;
  top: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  position: absolute;
  background:#fff;
}
div#add-recipe-modal.hide {
display: none;
}
div#add-recipe-modal.show {
display: block;
}
 
.btn-primary { background:#51c6be; border: 1px solid #4eb6ad;}
.btn-primary:hover { background:#42a098; border: 1px solid #29a094;}
button#addRecipe {
  float: right;
}
button { cursor: pointer;}

.card-block {background: #49535b; color:#fff;}

.card-block h2, .card-block h3 {
  font-size: 1rem;
}

h2.card-title {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.5;
  /* text-transform: uppercase; */
  font-weight: 300;
  padding: 1rem;
  border-top: 4px solid #52c5bd;
  border-bottom: 4px solid #52c5bd;
  background: rgba(255, 255, 255, 0.18);
  font-family: 'Dancing Script', cursive;
}

.card-block h3 {
  color: #5ed5cb; 
  text-transform: uppercase;
  font-weight: 400;
}
.card-block h3:nth-of-type(2n+2) {
  margin-top: 24px  
}
.card-content { padding: 16px 20px;}

footer {
  background: #333;
  padding: 16px 10px 8px 10px;
  margin: 0;
  text-align: center;
  color: #eee;
  font-size: .9rem;
  a {
    color: #53c4bc;
    font-family:'Dancing Script', cursive;
    &:hover { color: #5ed5cb}
  }
}

@media (max-width: 768px) {
div#add-recipe-modal {
  width:90%;
  margin: 0 5%;
  left: 0;
  }
}
.warning-message{ padding: 5px 8px; background:rgba(240, 224, 2, 0.432); margin: 1rem 0; }