.recipe-form {
  margin: 0 auto;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 24px; }

.recipe-form legend {
  text-align: left;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px; }

img {
  width: 100%;
  height: auto;
  max-width: auto; }
