header {
  background: #a6abe4;
  padding: 10px; }

ul.nav {
  padding: 0;
  margin: 0; }

ul.nav li a {
  padding: 0px 15px;
  border-right: 1px solid #ccc;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: .9rem; }

ul.nav li:last-child a {
  border-right: 0; }
